
.vs/Albums/FileContentIndex/05da2feb-7e51-45c9-a6d7-c1b8d6ce3336.vsidx
.vs/Albums/FileContentIndex/bc53887f-cc8c-434c-8954-11f0c8c3f1d7.vsidx
.vs/Albums/FileContentIndex/e68605a0-3334-41de-9168-dcdaf06cf98b.vsidx
.vs/Albums/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
