* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /* Supprimer le soulignement des liens */
    color: black;
}

body {
    height: 100vh;
    margin : 0px;
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}

/* ----- HEADER ----- */
header {
    position: relative;
    padding: 0 40px;

}
header div img {
    width : 40px;
}

.bande {
    display: flex;
    width: 100%;
    font-size: 1rem;
    height: 5em;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
}

.gauche {
    gap: 40px;
}

.droite {
    gap: 20px
}

.logoHead{
    gap: 10px;
}

/* ----- NAV ----- */
nav {
    position: sticky;
    top: 0px;
    background-image: url('photos/fond.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    height: 165px;
    display: flex;
    align-items: center; /* Centrer verticalement */
    justify-content: space-between;
    padding: 0 5%;
    font-size: 1.3rem;
}

.navbar a {
    text-align: center;
}

.bouton {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    font-size: 1.3rem;
}

.bouton:hover {
    background-color: #fff;
    color: #000;
}

.burger-nav{
    color: #000;
    right: 2rem;
    font-size: 3rem;
    position: absolute;
    display: none;
    cursor: pointer;
}

.fa-solid fa-bars {
    top: 0;
}

/* ----- BURGER MENU ----- */
.burger-menu {
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 265.2px;
    background-color: #ffffff;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px #000000;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger-menu.open {
    height: auto;
}

.burger-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- MAIN ALL ----- */
main  {
    height: 2000px;
}

/* ----- MAIN PRESENTATION ----- */
main.presentation h1 {
    font-size: 4.5rem;
    text-align: center;
    margin: 3rem 0;
}

.titre{
    text-align: center;
    margin: 1rem 0;
}

/* ----- MAIN LES CLUBS ----- */
main div {
    width: 15rem;
    box-shadow: inset 0 0 0 1px #000000;
}


/* ----- FOOTER ----- */
footer {
    background-color: #A7D8EE;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.foot-text {
    display: flex;
    justify-content: center;
}




/* ----- RESPONSIVE ----- */

@media (max-width: 990px){
    .navbar, header .droite, header .gauche {
        display: none;
    }

    .burger-nav {
        display: block;
    }

    nav {
        height: 100px;
    }

    .bouton {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger-menu {
        display: block;
    }
}